body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.stats {
  margin: 10px;
}

.stats table {
  margin: auto;
}

.stats th {
  text-align: right;
}

.stats td {
  font-size: 20px;
  text-align: left;
  font-family: monospace;
}

/*.side-bar {*/
  /*height: 1000px;*/
/*}*/